<header></header>

<main></main>
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />

  <dx-button text="Repos" (onClick)="helloWorld2()" type="success"> </dx-button>

  <dx-button text="Click me" (onClick)="helloWorld()" type="success">
  </dx-button>
  <dx-button text="Popup" (onClick)="showDialog()" type="warn"> </dx-button>
</div>

<div class="grid_wrapper">
  <dx-data-grid
    #grid
    [dataSource]="repos"
    [columns]="['name', 'language', 'pushed_at', 'archived', 'homepage']"
    [showBorders]="false"
    keyExpr="id"
    [hoverStateEnabled]="true"
    (onRowDblClick)="dblClick($event)"
  >
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-sorting mode="single"></dxo-sorting>
    <dxo-selection mode="single" [deferred]="false"></dxo-selection>
    <dxo-load-panel [enabled]="true"> </dxo-load-panel>
    <dxi-column
      dataField="name"
      caption="Наименование"
      dataType="string"
    ></dxi-column>
    <dxi-column
      dataField="language"
      caption="Используемый язык"
      dataType="string"
    ></dxi-column>
    <dxi-column
      dataField="pushed_at"
      format="dd.MM.yyyy, h:mm"
      caption="Дата Push"
      dataType="datetime"
    ></dxi-column>
    <dxi-column
      dataField="archived"
      caption="Архивный"
      dataType="string"
      [customizeText]="isArchive"
    ></dxi-column>
    <dxi-column
      dataField="homepage"
      caption="Домашняя страница"
      dataType="string"
      [allowSorting]="false"
      cellTemplate="HomePage"
    ></dxi-column>
    <div *dxTemplate="let homepagelink of 'HomePage'">
      <a
        *ngIf="homepagelink.value; else unset"
        target="_blank"
        href="{{ homepagelink.value }}"
      >
        HomePage link
      </a>
      <ng-template #unset>
        <span> None </span>
      </ng-template>
    </div>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
  </dx-data-grid>
</div>
<dx-popup
  [width]="768"
  [height]="580"
  [showTitle]="true"
  title="Last 5 issue..."
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  contentTemplate="content"
  [(visible)]="popupVisible"
  [resizeEnabled]="true"
>
  <dxo-position at="center" my="center" collision="fit"> </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <app-issuelist
      [issueList]="issueList"
      [issueCount]="issueList.length"
    ></app-issuelist>
  </div>
</dx-popup>
<footer>
  <p>
    develop by <span> <a href="#"> stanlys </a> </span> to Монитор Электрик
  </p>
</footer>
