.grid_wrapper {
  display: flex;
  justify-content: center;
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td {
  background-color: bisque;
  color: blue;
}

::ng-deep .dx-data-row + .dx-state-hover {
  font-weight: 500;
  background-color: coral !important;
  border: red 0.2 solid;
}

::ng-deep .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td {
  font-weight: 500;
  background-color: coral !important;
}
