<app-header></app-header>

<main>
  <label for="gitUser">Input GitHub user name</label>
  <input #someInput name="gitUser" type="text" />
  <hr />
  <div class="grid_wrapper">
    <dx-data-grid
      #grid
      [dataSource]="repos"
      [columns]="['name', 'language', 'pushed_at', 'archived', 'homepage']"
      [showBorders]="false"
      keyExpr="id"
      [hoverStateEnabled]="true"
      (onRowDblClick)="dblClick($event)"
    >
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-sorting mode="single"></dxo-sorting>
      <dxo-selection mode="single" [deferred]="false"></dxo-selection>
      <dxo-load-panel [enabled]="true"> </dxo-load-panel>
      <dxi-column
        dataField="name"
        caption="Наименование"
        dataType="string"
      ></dxi-column>
      <dxi-column
        dataField="language"
        caption="Используемый язык"
        dataType="string"
      ></dxi-column>
      <dxi-column
        dataField="pushed_at"
        format="dd.MM.yyyy, h:mm"
        caption="Дата Push"
        dataType="datetime"
      ></dxi-column>
      <dxi-column
        dataField="archived"
        caption="Архивный"
        dataType="string"
        cellTemplate="Archived"
      ></dxi-column>
      <div *dxTemplate="let archived of 'Archived'">
        <span *ngIf="archived.value; else unset">Yes</span>
        <ng-template #unset>
          <span> Not </span>
        </ng-template>
      </div>
      <dxi-column
        dataField="homepage"
        caption="Домашняя страница"
        dataType="string"
        [allowSorting]="false"
        cellTemplate="HomePage"
      ></dxi-column>
      <div *dxTemplate="let homepagelink of 'HomePage'">
        <a
          *ngIf="homepagelink.value; else unset"
          target="_blank"
          href="{{ homepagelink.value }}"
        >
          HomePage link
        </a>
        <ng-template #unset>
          <span> None </span>
        </ng-template>
      </div>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="true"
        [showInfo]="true"
        [showNavigationButtons]="true"
      >
      </dxo-pager>
    </dx-data-grid>
  </div>
</main>

<dx-popup
  [width]="768"
  [height]="580"
  [showTitle]="true"
  title="Last 5 issue..."
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  contentTemplate="content"
  [(visible)]="popupVisible"
  [resizeEnabled]="true"
>
  <dxo-position at="center" my="center" collision="fit"> </dxo-position>
  <div *dxTemplate="let data of 'content'">
    <app-issuelist
      [issueList]="issueList"
      [issueCount]="issueList.length"
    ></app-issuelist>
  </div>
</dx-popup>

<app-footer></app-footer>
